<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="{CSS_ADD}/index/bootstrap.css">
    <link rel="stylesheet" href="{CSS_ADD}/index/project.css">
    <link rel="stylesheet" href="{CSS_ADD}/index/index.css">
</head>
<body>
{include file=$header}
    <div class="fubanner">
        <div class="casebanner" style="background-image: url('http://localhost/2006/mvc/application/static/img/intro.jpg') ;background-size: cover">
            <h2>勿忘初次  方得始终</h2>
            <span></span>
            <p>佳速网络将用数字告诉客户结果，帮助客户实现利润提升，使客户的投资获得相应的回报</p>
        </div>
    </div> 
    <div class="con aboutcon">
        <div class="about-wz">
            <div class="con-title">
                <h1>上海佳速网络技术有限公司</h1>
                <p style="color: #666;">
                    是一家深耕于互联网应用平台开发的服务商，<br>
                    专注于网站建设、app开发、微信小程序开发和整合网络营销推广，<br>
                    致力于为客户打造与众不同的、无与伦比的互联网平台，帮助客户提升运营效率和竞争力，助力客户拥抱互联网做强做大。
                </p>
                <h3 class="abouth3" >
                    我们的使命是：让天下没有难做的互联网开发服务！
                </h3>
                <h3 class="abouth3">
                    我们的愿景是：成为国内更靠谱的互联网平台开发服务领跑者！
                </h3>
                <h3 class="abouth3">
                    我们的价值观：诚信、责任、创新、学习、感恩！
                </h3>
                <p style="color: #666;">
                    2004年成立，2005年成为中国万网、新网核心分销合作伙伴，<br>
                    2006年成为阿里巴巴代理商，2008年成为百度和google上海地区分销商，<br>
                    2012年成为猪八戒金牌服务商，2015年成为云梦华东授权服务中心，2017年成为阿里云上海授权服务中心，<br>
                    2019年被评为上海市中小企业服务机构。
                </p>
            </div>
            <div class="about-sj">
                <div class="stats1-info">
                    <h2>
                        <span>14</span>
                    </h2>
                    <p style="font-size: 14px;color: #999;">年用户体验设计经验</p>
                </div>
                <div class="stats1-info">
                    <h2>
                        <span>300</span>
                    </h2>
                    <p style="font-size: 14px;color: #999;">知名品牌</p>
                </div>
                <div class="stats1-info">
                    <h2>
                        <span>5,000</span>
                    </h2>
                    <p style="font-size: 14px;color: #999;">余家客户选择</p>
                </div>
                <div class="stats1-info">
                    <h2>
                        <span>35</span>
                    </h2>
                    <p style="font-size: 14px;color: #999;">名经验丰富的工作人员</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="aboutcon">
            <h2 style="font-size: 36px; color: #333;text-align: center;">为什么选择我们？</h2>
            <div class="h4 about-t2">
                因为您对您的品牌和产品信息十足，而我们对网站的策略、逻辑、架构、用户体验信息十足。
            </div>
            <div class="tbcon">
                <div class="tbcon1">
                    <img src="http://localhost/2006/mvc/application/static/img/icon_about_1.png" alt="">
                    <p style="text-align: center;">卓越的解决方案能力</p>
                </div>
                <div class="tbcon1">
                    <img src="http://localhost/2006/mvc/application/static/img/icon_about_2.png" alt="">
                    <p style="text-align: center;">丰富的服务经验</p>
                </div>
                <div class="tbcon1">
                    <img src="http://localhost/2006/mvc/application/static/img/icon_about_3.png" alt="">
                    <p style="text-align: center;">成熟的管理和技术团队</p>
                </div>
                <div class="tbcon1">
                    <img src="http://localhost/2006/mvc/application/static/img/icon_about_4.png" alt="">
                    <p style="text-align: center;">强大的知识资源积累</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="wsmxzwm">
            <div class="about-t">
                我们的客户
            </div>
            <div class="about-t2 h4">
                尊重和关怀每一位客户，用严谨的态度对待客户，用专业的服务创造价值，成为客户值得信赖的朋友，为客户解除后顾之忧。
            </div>
            <div class="clients">
                <ul>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo1b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo2b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo3b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo4b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo5b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo6b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo7b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo8b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo9b.jpg" alt="">
                    </li>
                    <li>
                        <img src="http://localhost/2006/mvc/application/static/img/logo10b.jpg" alt="">
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="aboutcon">
            <div class="con-tit">
                <h1>客户群体分布</h1>
                <div class="h4">为客户创造价值、传递价值是我们的最终使命</div>
            </div>
            <div class="data-so">
                <div class="data-so-inner">
                    <ul class="so-ul">
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>40%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>35%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>30%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>25%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>20%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>15%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>10%</em>
                                </dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                                <dd></dd>
                            </dl>
                        </li>
                        
                        <li style="border-bottom: 1px solid #cdcdcd;">
                            <dl>
                                <dd>
                                    <i></i>
                                    <em>5%</em>
                                    <div class="jux">
                                        <img src="http://localhost/2006/mvc/application/static/img/ju1.png" alt="">
                                    </div>
                                </dd>
                                <dd>
                                    <div class="jux">
                                        <img src="http://localhost/2006/mvc/application/static/img/ju2.png" alt="">
                                    </div>
                                </dd>
                                <dd>
                                    <div class="jux">
                                        <img src="http://localhost/2006/mvc/application/static/img/ju3.png" alt="">
                                    </div>
                                </dd>
                                <dd>
                                    <div class="jux">
                                        <img src="http://localhost/2006/mvc/application/static/img/ju4.png" alt="">
                                    </div>
                                </dd>
                                <dd>
                                    <div class="jux">
                                        <img src="http://localhost/2006/mvc/application/static/img/ju5.png" alt="">
                                    </div>
                                </dd>
                            </dl>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="data-bot">
                        <ul class="bot-ul">
                            <li>
                                <div class=" ju fl">3%</div>
                                <div class=" txt fl">政府国企</div>
                            </li>
                            <li>
                                <div class="fl ju">20%</div>
                                <div class="fl txt">政府国企</div>
                            </li>
                            <li>
                                <div class="fl ju">25%</div>
                                <div class="fl txt">政府国企</div>
                            </li>
                            <li>
                                <div class="fl ju">40%</div>
                                <div class="fl txt">政府国企</div>
                            </li>
                            <li>
                                <div class="fl ju">12%</div>
                                <div class="fl txt">政府国企</div>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file=$footer}
    <script src="./project.js"></script>
</body>
</html>