<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="{CSS_ADD}/index/project.css">
</head>
<body>
<div class="foot con">
    <div class="foot-gy">
        <ul>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}1.png" alt="">
                    24小时咨询热线：159 2178 8833
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}2.png" alt="">
                    E-mail:info@jiasu.cn
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}3.png" alt="">
                    QQ咨询： 1256635055
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}4.png" alt="">
                    上海市浦东新区三林路88弄1号A323
                </a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="foot-bot">
        <div class="foot-botcon">
            <p>
                CopyRight 2004-2018 JSOON NETWORK , Inc. All Rights Reserved 专业互联网开发服务提供商-佳速网络   服务热线：021-58361813
                <a href="#">沪ICP备09051443号-4</a>&nbsp;&nbsp;
                <a href="#">网站地图</a>
                <br>
                上海佳速公司提供上海网站建设制作、app开发、微信小程序开发服务
            </p>
        </div>
    </div>
</div>
</body>
</html>