<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>positionshow</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.css">
    <style>

    </style>
</head>
<body style="background: none">
<div class="container" style="padding: 5%">
    <table class='table table-bordered'>
       <tr>
           <th>posid</th>
           <th>名称</th>
            <th>描述</th>
           <th>操作</th>
       </tr>
        {foreach $data as $v}
        <tr>
            <td>{$v['posid']}</td>
            <td>{$v['posname']}</td>
            <td>{$v['posinfo']}</td>
            <td>
                <a class="btn btn-info" href="/2006/mvc/index.php/admin/position/edit">编辑</a>
                <a class="btn btn-info" href="/2006/mvc/index.php/admin/position/del">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
</body>
</html>